* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {
    background-color: aqua;
} */

.fondo1 {
    width: 100%;
    height: 100px;
    background-color: #95a5a6;
    border-bottom-right-radius: 50%;
    position: relative;
    z-index: 3;
}

.fondo2 {
    width: 175%;
    height: 85px;
    position: absolute;
    background-color: #8F2229;
    top: 33px;
    z-index: 2;
    margin-left: -75%;
}


/* .fondo3 {
    width: 200%;
    height: 20px;
    background-color: #C72229;
    background-color: yellow;
    position: relative;
    top: -7px;
    z-index: 3;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
} */

.navbar {
    width: 100vw;
    background-color: black;
    margin: auto;
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

ul,
ol {
    list-style: none;
}

.menu li a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.menu>li {
    float: left;
}

.menu li a:hover {
    background-color: red;
}

.menu li ul {
    /* display: none; */
    opacity: 0;
    position: absolute;
    min-width: 140px;
}

.menu li:hover>ul {
    /* display: block; */
    opacity: 1;
}

.menu li ul li {
    position: relative;
}

.menu li ul li ul {
    right: -140px;
    top: 0px;
}