* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcdde1;
}

header {
    width: 100vw;
}

.encabezado_superior {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    padding: 0 50px;
}

.logo .marco_logo img {
    width: 100%;
}

.marco_logo {
    width: 150px;
    display: flex;
    align-items: center;
    margin: 20px 50px;
}

.logo .ordenar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.barra_social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.barra_social .barra_fila1 a {
    padding: 3px;
}

.barra_social .barra_fila2>a {
    padding: 3px;
}

.barra_social img {
    width: 50px;
}


/* ***********************menu de navegacion*********************** */

nav {
    background-color: #2f3640;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
}

nav ul li {
    padding: 15px;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    cursor: pointer;
    background-color: red;
}

.menu li a {
    display: block;
}

.has-dropdown {
    position: relative;
}

.submenu {
    position: absolute;
    right: 10;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* esconder submenu */
    opacity: 0;
    transform: scale(0);
    transform-origin: top center;
}

.menu>li:hover>a,
.submenu>li:hover>a {
    /* background-color: yellow;
    color: greenyellow; */
}

.arrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transform: rotate(-45deg);
    margin-top: 4px;
    transition: transform 100ms ease-in-out;
}

.menu>li:hover>a+.submenu,
.submenu>li:hover>a+.submenu {
    opacity: 1;
    transform: scale(1);
}


/*animacion de la flecha  */

.menu>li:hover>a>.arrow,
.submenu>li:hover>a>.arrow {
    transform: rotate(225deg);
}